{{!--Setting up header--}}
<div class="container">
   <div class="jumbotron">
      <center>
         <h1>Movie News: At the Click of a Button</h1>
      </center>
      <center>
         <p>Get your latest movie news without scrolling or searching; just click the button below!</p>
      </center>
      <center>
         <p><a class="btn btn-primary btn-lg">Scrape the News!</a></p>
      </center>
   </div>
</div>
<div class="container">
   <center><a href="#" class="btn btn-info">Home</a>
      <a href="#" class="btn btn-info">Saved Articles</a>
   </center>
</div>
</body>
</html>
